@media screen and (max-width: 480px) {
    
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .mani{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    h2{
        font-size: 30px;
        line-height: 10px;
        font-family: poppinsmedium;
    }
    
    
    p{
        line-height: 15px;
        max-width: 80%;
        font-family: poppinslight;
    }
    
    #imgIarticle{
        display: none;
    }
    
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .divFormulario{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    h3{
        margin-top: 30px;
        font-size: 40px;
        font-family: poppinsmedium;
        color: #13d823;
    
    }
    
  
    h4{
        font-size: 20px;
        font-family: poppinsmedium;
        margin-left: 15%;
    }
    
    
 
    
    .slide-container {
        width: 380px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-align: center;
        
    }
    
    .image-container{
        width: 1140px;
        height: 280px;
        position: relative;
        transition: left 2s;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
    }
    
    .slider-image {
        float: left;
        margin: 0px;
        padding: 0px;
        width: 380px;
        height: 280px;
        border-radius: 15px;
        
    }
    
    .button-container{
        top: -30px;
        position: relative;
    }
    
    .slider-button{
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        background-color: #fff;
    }
    
    #slider-image-1:target ~ .image-container{
        left: 0px;
    }
    
    #slider-image-2:target ~ .image-container{
        left: -380px;
    }
    
    #slider-image-3:target ~ .image-container{
        left: -760px;
    }
}